.wrap {
  overflow: hidden;
  height: 100vh;
}

.blind {
  overflow: hidden;
  position: absolute;
  left: 0;
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0;
}

header {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #777;
  overflow: hidden;
  z-index: 9999;
  position: relative;
}
header .center {
  display: flex;
}
header .logo {
  display: block;
  width: 100px;
  height: 100px;
  background: url(/dearandtail/img/logo.png) no-repeat center center;
  background-size: contain;
}
header nav {
  width: calc(100% - 100px);
  height: auto;
  border-left: 1px solid #777;
}
header nav > div {
  display: flex;
  align-items: center;
  height: 50px;
}
header nav .nav-user {
  border-bottom: 1px solid #777;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav .nav-user .user {
  width: calc(100% - 42px);
  height: 100%;
  border-right: 1px solid #777;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}
header nav .nav-user .user img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
header nav .nav-user .user .login {
  display: flex;
  align-items: center;
}
header nav .nav-user .user .login a {
  padding: 0 15px;
}
header nav .nav-user .user .login a:nth-child(1) {
  border-right: 2px solid #777;
}
header nav .nav-user .user .login img {
  border-radius: 50%;
}
header nav .nav-user .th-line {
  width: 50px;
  height: 25px;
  padding: 0 10px;
  position: relative;
}
header nav .nav-user .th-line.on {
  width: 50px;
  height: 50px;
  padding: 0 5px;
}
header nav .nav-user .th-line.on span:nth-child(1) {
  z-index: 9;
  transform: rotate(45deg) translateY(0);
  background: #fff;
}
header nav .nav-user .th-line.on span:nth-child(3) {
  background: #fff;
  transform: rotate(-45deg) translateY(0);
}
header nav .nav-user .th-line.on span:nth-child(2) {
  border-radius: 50%;
  transform: scaleY(100%);
}
header nav .nav-user .th-line span {
  display: block;
  width: 36px;
  height: 2px;
  background: #0fc495;
  transition: all 0.4s;
  position: absolute;
  left: 8px;
}
header nav .nav-user .th-line span:nth-child(1) {
  top: calc(50% - 1px);
  transform: translateY(-10px);
}
header nav .nav-user .th-line span:nth-child(2) {
  border-radius: 50%;
  height: 36px;
  width: 36px;
  transform: scaleY(8%);
  top: calc(50% - 18px);
}
header nav .nav-user .th-line span:nth-child(3) {
  top: calc(50% - 1px);
  transform: translateY(10px);
}
header nav .navigation .nav-button {
  width: calc(50% - 52px);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #efefef;
  padding: 0 10px;
}
header nav .navigation .nav-button li {
  width: 20%;
}
header nav .navigation .nav-button li a {
  display: block;
  text-align: center;
  padding: 9px 0;
  margin: 10px 15px;
  transition: all 0.2s;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 300;
  background: #fff;
}
header nav .navigation .nav-button li a:hover {
  color: #fff;
  background: #0fc495;
}
header nav .navigation .nav-button li a.active {
  color: #fff;
  background: #0fc495;
}
header nav .navigation .nav-search {
  display: flex;
  align-items: center;
  width: calc(50% + 50px);
  height: 100%;
  border-left: 1px solid #777;
  background: #efefef;
}
header nav .navigation .nav-search .inputbox {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-right: 1px solid #777;
}
header nav .navigation .nav-search .inputbox input {
  width: 75%;
  padding: 10px 20px;
  margin: 5px 20px;
  border-radius: 20px;
  background: #fff;
}
header nav .navigation .nav-search .inputbox b {
  font-size: 42px;
  padding: 0 5px;
  margin-right: 15px;
  font-weight: 100;
}
header nav .navigation .nav-search .cate {
  border: none;
  height: 100%;
  width: 15%;
  text-align: center;
  padding: 0 30px;
}

.contant {
  display: flex;
}
.contant .pre {
  background: url(/dearandtail/icon/up.svg) no-repeat center center;
  background-size: contain;
}
.contant .nex {
  background: url(/dearandtail/icon/down.svg) no-repeat center center;
  background-size: contain;
}
.contant .main-con {
  width: 50%;
  height: calc(100vh - 140px);
  border-right: 1px solid #777;
}
.contant .main-con .today {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.contant .main-con .today > button {
  padding: 10px 0;
  height: 30px;
  width: 50px;
}
.contant .main-con .today .con-box {
  width: 100%;
  padding: 30px 0 20px;
  overflow: hidden;
}
.contant .main-con .today .today-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  transition: all 0.4s;
}
.contant .main-con .today .today-list li {
  width: 100%;
  height: 71vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contant .main-con .today .today-list li img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.contant .main-con .today .today-list li .backimg {
  margin: 0 auto;
  width: 500px;
  height: 500px;
  position: relative;
}
.contant .main-con .today .today-list li .backimg .hot {
  top: 0;
  left: -35px;
}
.contant .main-con .today .today-list li .backimg .hot:nth-child(2) {
  top: 45px;
}
.contant .main-con .today .today-list li .textbox {
  position: absolute;
  width: 90%;
  height: 50px;
  background: #fff;
  display: flex;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  bottom: -20px;
  left: calc(50% - 45%);
  margin: 0 auto;
}
.contant .main-con .today .today-list li .textbox h5 {
  font-size: 20px;
  text-align: center;
  width: 100%;
  padding: 10px 0;
}
.contant .main-con .today .today-list li .textbox span {
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-family: Georgia, sans-serif;
  font-style: italic;
}
.contant .main-con .today .today-list li b {
  padding-top: 30px;
  display: block;
  width: 100%;
  font-size: 45px;
  text-align: center;
}

.sub-con {
  width: 50%;
  height: calc(100vh - 140px);
}
.sub-con .latin {
  font-family: Georgia, sans-serif;
  font-style: italic;
  position: absolute;
  top: 8px;
  left: 8px;
  color: #0fc495;
}
.sub-con .event-banner {
  height: 25%;
  border-bottom: 1px solid #777;
  position: relative;
}
.sub-con .event-banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sub-con .notice {
  height: 5%;
  background: #efefef;
  border-bottom: 1px solid #777;
  position: relative;
}
.sub-con .notice p {
  text-align: center;
  padding: 10px 0;
}
.sub-con .con-slide {
  height: 70%;
}
.sub-con .con-slide .moreview-click {
  height: 5%;
  border-bottom: 1px solid #777;
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
}
.sub-con .con-slide .moreview-click p {
  text-align: center;
  padding: 3px 0;
  font-weight: 100;
  color: #0fc495;
}
.sub-con .con-slide .con-twobox {
  background: #efefef;
  height: 95%;
  overflow: hidden;
}
.sub-con .con-slide .con-twobox .con-list {
  display: flex;
  position: relative;
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 0.4s;
}
.sub-con .con-slide .con-twobox .cons-box {
  height: 100%;
  overflow: hidden;
}
.sub-con .con-slide .con-twobox .cons-box:nth-child(1) {
  border-right: 1px solid #777;
}
.sub-con .con-slide .con-twobox .cons-box .title {
  height: 50px;
  width: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 50px;
}
.sub-con .con-slide .con-twobox .cons-box .title p {
  font-weight: 100;
  font-size: 19px;
}
.sub-con .con-slide .con-twobox .cons-box .title > span {
  padding: 9px 30px;
  background: #fff;
  border-radius: 50%;
  margin-right: 25px;
}
.sub-con .con-slide .con-twobox .cons-box .title .move-dot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25px;
  height: 25px;
}
.sub-con .con-slide .con-twobox .cons-box .title .move-dot span {
  background: #333;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
.sub-con .con-slide .con-twobox .cons-box .sub-con-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 20px 10px;
  height: calc(100% - 50px);
}
.sub-con .con-slide .con-twobox .cons-box .sub-con-img span {
  top: 10px;
  left: 0px;
}
.sub-con .con-slide .con-twobox .cons-box .sub-con-img .img-box {
  height: 77%;
  margin-bottom: 20px;
  position: relative;
}
.sub-con .con-slide .con-twobox .cons-box .sub-con-img .img-box::before {
  content: "";
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: calc(50% - 40%);
  z-index: 1;
}
.sub-con .con-slide .con-twobox .cons-box .sub-con-img .img-box img {
  position: relative;
  z-index: 9;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.sub-con .con-slide .con-twobox .cons-box .sub-con-img h5 {
  position: relative;
  z-index: 9;
  display: block;
  width: 80%;
  text-align: center;
  font-size: 18px;
  border-bottom: 1px solid #333;
  padding: 4px 0;
  margin-bottom: 4px;
}
.sub-con .con-slide .con-twobox .cons-box .sub-con-img em {
  position: relative;
  z-index: 9;
  font-family: Georgia, sans-serif;
  font-style: italic;
}

#join {
  background: #efefef;
  width: 100%;
  height: 100vh;
}
#join h4 {
  text-align: center;
  font-size: 40px;
  padding: 30px 0;
}
#join section {
  padding: 80px 0;
  height: 100%;
}

.form_box {
  width: 600px;
  height: 40%;
  margin: 0 auto 80px;
}
.form_box p {
  display: flex;
}

label {
  display: block;
  width: 30%;
  height: 40px;
  background: red;
}

input {
  width: 70%;
  height: 40px;
  background: #fff;
  text-align: center;
}

.join-box {
  background: #888;
  height: 80%;
  padding: 100px 0 80px;
  position: relative;
}

.join-input {
  display: flex;
  width: 3000px;
}
.join-input li {
  width: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.join-input li input {
  border-radius: 20px;
}
.join-input li.id-input {
  flex-direction: row;
}
.join-input li.id-input button {
  height: 40px;
  width: 40px;
  background: chartreuse;
  border-radius: 50%;
}

.next-btn {
  margin: 0 auto;
  background: #fff;
  padding: 15px 50px;
  border-radius: 50%;
  position: absolute;
  bottom: 20px;
  left: calc(50% - 70px);
}

.hot {
  position: absolute;
  width: 70px;
  height: 45px;
  background: #ff635c;
  color: #fff;
  padding: 14px;
  border-radius: 50%;
  text-align: center;
  z-index: 2;
}

footer {
  width: 100%;
  height: 40px;
  background: #333;
}
footer .center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
}
footer i.fa {
  color: #fff;
  font-size: 20px;
  padding: 5px 10px;
}