.sub-con {
  width: 50%;
  height: calc(100vh - 140px);
  // display: none;
  .latin {
    font-family: Georgia, sans-serif;
    font-style: italic;
    position: absolute;
    top: 8px;
    left: 8px;
    color: $green;
  }
  .event-banner {
    height: 25%;
    // background: #000;
    border-bottom: 1px solid $header-line-color;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .notice {
    height: 5%;
    background: #efefef;
    border-bottom: 1px solid $header-line-color;
    position: relative;
    p {
      text-align: center;
      padding: 10px 0;
    }
  }
  .con-slide {
    height: 70%;
    // background: #777;
    .moreview-click {
      height: 5%;
      // background: #444;
      border-bottom: 1px solid $header-line-color;
      display: flex;
      justify-content: space-between;
      padding: 0 8px;
      p {
        text-align: center;
        padding: 3px 0;
        font-weight: 100;
        color: $green;
      }
    }
    .con-twobox {
      background: #efefef;
      height: 95%;
      overflow: hidden;

      // background: $background;
      .con-list {
        display: flex;
        position: relative;
        height: 100%;
        width: fit-content;
        transition: all 0.4s;
      }
      .cons-box {
        // width: 50%;
        height: 100%;
        overflow: hidden;
        // background: #444;
        &:nth-child(1) {
          border-right: 1px solid $header-line-color;
        }
        .title {
          height: 50px;
          width: 100%;
          // background: $green;
          box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.15);
          display: flex;
          justify-content: space-around;
          align-items: center;
          padding: 0 50px;
          p {
            font-weight: 100;
            font-size: 19px;
            // color: $font-color;
          }
          & > span {
            padding: 9px 30px;
            background: #fff;
            border-radius: 50%;
            margin-right: 25px;
          }
          .move-dot {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 25px;
            height: 25px;
            span {
              background: #333;
              width: 5px;
              height: 5px;
              border-radius: 50%;
            }
          }
        }
        .sub-con-img {
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;
          padding: 20px 10px;
          height: calc(100% - 50px);
          span {
            top: 10px;
            left: 0px;
          }
          .img-box {
            height: 77%;
            margin-bottom: 20px;
            position: relative;
            &::before {
              content: "";
              width: 80%;
              height: 80%;
              border-radius: 50%;
              background: #fff;
              position: absolute;
              top: 50%;
              left: calc(50% - 40%);
              z-index: 1;
            }
            img {
              position: relative;
              z-index: 9;

              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 50%;
            }
          }
          h5 {
            position: relative;
            z-index: 9;

            display: block;
            width: 80%;
            text-align: center;
            font-size: 18px;
            border-bottom: 1px solid #333;
            padding: 4px 0;
            margin-bottom: 4px;
          }
          em {
            position: relative;
            z-index: 9;

            font-family: Georgia, sans-serif;
            font-style: italic;
          }
        }
      }
    }
  }
}
